@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark; /* Força o modo escuro no navegador */
}

body {
  @apply bg-[#142239] text-slate-100; /* HEX EXATO DO FUNDO */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Scrollbar Bonita */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #142239; }
::-webkit-scrollbar-thumb { background: #275A80; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #D5205D; }